@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap");

.inputs-container {
    display: flex;
    justify-content: space-between;
    padding: 2em 1.5em 1em;
    font-family: "Roboto", sans-serif;
}

.inputs-container input{
    padding: 0.5em 0.7em 0.5em;
    font-size: 13.5px;
    border: 2px solid #afaeae;
    border-radius: 0.2em;
    width: 20%;
}
.inputs-container .right-container {
    display: flex;
    gap: 1em;
}
.inputs-container .right-container input {
    padding: 0.5em 1.5em;
    border-radius: 0.2em;
    width: 25%;

}
.inputs-container .right-container input::placeholder {
    text-align: center;
}
.inputs-container .right-container button {
    padding: 0.5em 3em;
    color: white;
    background-color: cadetblue;
    width: 30%;
    border-radius: 0.2em;
    border: 1px none;
    font-weight: 600;
}
.inputs-container .right-container button:hover {
    cursor: pointer;
}