.product-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 15%;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 15px;
    margin-bottom: 30px;
}

.span {
    display: flex;
    justify-content: flex-start;
    color:rgb(160, 160, 160);
    margin-left: 15px;
    margin-bottom: -20px;
    font-size: 12px;
}

.card-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.card-details span {
    color:rgb(151, 151, 151);
    font-weight: bold;
}

.product-card button {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 0 0 15px 15px;
}