body {
  background-color: bisque;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#contener-serch{
  display: flex;
  justify-content: space-around;
  padding:30px;
}


#continer-cart{
  display: grid;
  align-items: center;
  grid-template-columns: 13%  13% 13% 13% 13% 13%;
  gap: 60px;
  padding:20px;

}


.center{
  justify-content: center;
  align-items: center;
  padding: auto;
}