.header-style {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-style {
    padding: 50px;
    background-color: rgb(255, 227, 219);
    min-height: 510px;
}

.create-prod {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.products {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}