/* Popup style */
.popup-box {
	position: fixed;
	background: #00000050;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.box {
	position: relative;
	width: 70%;
	margin: 0 auto;
	height: auto;
	max-height: 70vh;
	margin-top: calc(100vh - 85vh - 20px);
	background: rgb(201, 143, 143);
	border-radius: 4px;
	padding: 20px;
	border: 1px solid #999;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.close-icon {
	content: "x";
	cursor: pointer;
	position: fixed;
	right: calc(15% - 30px);
	top: calc(100vh - 85vh - 33px);
	background: #ededed;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	border: 1px solid #999;
	font-size: 20px;
}
.addItem {
	display: flex;
	flex-direction: column;
	height: 350px;
	justify-content: space-between;
	width: 480px;
	align-items: center;
}
.addItemInput {
	width: 300px;
	height: 30px;
	font-size: large;
	font-weight: bold;
}
.addItemInput:hover {
	cursor: text;
}
.btnAdd {
	width: 260px;
	height: 50px;
	background-color: rgb(40, 175, 97);
	color: white;
}
.btnAdd:hover {
	cursor: pointer;
}
.inputDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 570px;
	font-weight: 900;
	color: white;
}
.headerCls {
	background-color: #999;
	padding: 50px;
}
.headerDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.searchTxt {
	width: 270px;
	height: 30px;
	border: none;
}
.product {
	display: flex;
	flex-direction: column;
	width: 210px;
	height: 332px;
	padding: 2px;
	background-color: #e7dede;
	border-radius: 15px 15px 0 0;
	box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
}
.deletex {
	cursor: pointer;
	width: 10px;
}
.prodName {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	padding-top: 20px;
	padding-left: 10px;
}
.nameDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
}
.productsDiv {
	display: flex;
	min-width: 1024px;
	justify-content: space-between;
	padding: 50px;
	flex-wrap: wrap;
}
.deleteDiv {
	display: flex;
	justify-content: flex-end;
}
.btnAddCart {
	height: 40px;
	background-color: #000;
	color: white;
	border: none;
	bottom: -40px;
	width: 100%;
	left: 0;
}
.btnHeader {
	width: 260px;
	height: 50px;
	background-color: rgb(40, 175, 97);
	color: white;
}
