.App {
  text-align: center;
  background-color: #FFFAE2;
  height: 1300px;
  padding:30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product {
  background-color: #fff;
  width: 260px;
  height: 308px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0.5em;
  box-shadow: 0 5px 12px 1px #d7d7d7;
  position: relative;
}

.products {
  display: grid;
  grid-auto-columns: 2fr;
  grid-auto-rows: 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 0;
}

.product-button {
  background-color: #000;
  color: #fff;
  width: inherit;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-radius: 0 0 0.5em 0.5em;
  outline: 0;
  border:0;
  height: 38px;
}

.submit-button {
  height: 50px;
  background-color: #096063;
  color: white;
  border-radius:0.5em;
  outline: 0;
  border:0;
  font-size:medium;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
}

.submit-button:hover{
  cursor: pointer;
  background: #0f979c;
}

.product-desc {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.input{
  height: 40px;
  width: 200px;
  border-radius:0.5em !important;
  margin: 5px !important;
  padding: 10px;
  font-size: large;
  text-align: center;
}
.input::placeholder{
  color: #707070;
  text-align: center;
}