body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main{
  padding: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-block;
}
.App {
  padding: 4rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.box {
  display: inline-block;
  outline: none;
  width: 40%;
  border: 1px solid grey;
  font-size: 1rem;
  padding: .7rem;
  border-radius: .5rem;
  margin-bottom: .4rem;
  margin-right: .4rem;

}
img{
  width: fit-content;
  width: 80%;
}
.card {
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem;
  width: 250px;
  box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
  transition: transform .3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}
.add_button{
  color:rgb(255, 252, 247);
  outline: none;
  width: 30%;
  border: 1px solid grey;
  font-size: 1rem;
  padding: .7rem;
  border-radius: .5rem;
  background-color: #333;
  display: inline-block;
}
form{
  display: flex;
  
}