.main-continer {
    padding: 50px;
}

.menu-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-products{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
