#root {
  background-color: #FFFAE2;
  display: flex;
  justify-content: center;
}

.products-page {
  width: 90%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
}

.header {
  width: 100%;
  display: flex;
  margin: 2.5em auto;
  justify-content: space-between;
}

input {
  padding: .75em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-product {
  display: flex;
  justify-content: flex-end;
}

.add-product input {
  margin-right: 2vw;
}

.add-product button {
  padding: .75em;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: #096063;
  color: white;
  width: 20%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.product {
  width: 15%;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.product-image {
  width: 90%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  height: auto;
}

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.product-info p,
.product-info h3 {
  padding: .5em 1em;
}

.product-info p {
  color: #888;
}

.product button {
  width: 100%;
  padding: .75em;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  background-color: black;
  color: white;
  border-radius: 0 0 20px 20px;
}

@media (max-width: 1030px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header .search {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 764px) {
  .products {
    justify-content: space-evenly;
  }

  .add-product {
    flex-direction: column;
    align-items: center;
  }

  .add-product input {
    margin-bottom: 2em;
    margin-right: auto;
  }

  .add-product button {
    width: 100%;
    margin-right: auto;

  }
}

@media screen and (max-width: 400px) {
  .product {
    width: 100%;
  }
}